/* 1. fontfamily roboto ++
2 font size h1 h2 h3 h4 h5 h6 p için mobil tablet ve dekstop farklı olmalı ( media query kullan)
3 cardları oluştur
4 hero sectionın boyunu vh kullanarak düzenle
not: width ve heighta hiç bir zaman px verme */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}

.home-container {
    background: url(https://images.unsplash.com/photo-1556909211-36987daf7b4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.text-center h1 {
    font-family: 'Work Sans', sans-serif;
    color: antiquewhite;
    font-size: 56px;
}

.text-center h3 {
    color: antiquewhite;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: black;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    /*transition: background .2s ease-out;*/
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn*/

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.row .col
/* 48em = 768px */

@media (min-width: 768px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-title {
    margin: 60px 0;
    /*aşağıdan yukarıdan 60 yanlardan 0*/
}

.about-title h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #3a3936;
    font-size: 30px;
    font-weight: 600;
}

.about-title h2::after {
    content: "";
    /*after kullandığımız zaman kesinlikle content verilmesi gerek yoksa kod çalışmaz*/
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}


/*footer*/

.footer-distributed {
    box-shadow: 6px 1px 5px 0 black;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 35px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: black;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: black;
}


/* Footer links */

.footer-distributed .footer-links {
    color: black;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    color: black;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: black;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: black;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a {
    color: black;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: black;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
        width: 35px;
        height: 35px;
    }
}


/*hover*/


/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
    --black: #1a1a1a;
    --white: #fff;
    --gray: #ccc;
    --darkgreen: #18846C;
    --lightbrown: antiquewhite;
    --darkblack: rgba(0, 0, 0, 0.8);
    --minRangeValue: 280px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    background: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
}

body {
    margin: 50px 0;
    color: var(--black);
    font: 1rem/1.3 sans-serif;
}

.gallery {
    padding: 0 2rem;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    margin-top: -20px;
}

.d-none {
    display: none;
}


/* TOOLBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar .search-wrapper {
    position: relative;
}

.toolbar input[type="search"] {
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.toolbar ::placeholder {
    color: var(--gray);
}

.toolbar .counter {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    font-size: 0.9rem;
    color: var(--gray);
}

.view-options {
    display: flex;
    align-items: center;
}

.view-options li:not(:last-child) {
    margin-right: 1.2rem;
}

.view-options button {
    padding: 2px;
    border: 3px solid transparent;
}

.view-options .active button {
    border-color: var(--darkgreen);
}


/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.image-list {
    margin: 3rem 0;
}

.image-list li {
    background: white;
    /* açıklama kısmı rengi*/
    color: var(--darkblack);
}

.image-list p:first-child {
    font-weight: bold;
    font-size: 1.15rem;
}

.image-list p:last-child {
    margin-top: 0.5rem;
}


/* GRID VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue), 1fr));
}

.grid-view figcaption {
    padding: 1rem;
}


/* LIST VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.list-view li+li {
    margin-top: 1.5rem;
}

.list-view figure {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    font-size: 1rem;
    padding: 0 1.5rem;
    text-align: right;
}

footer span {
    color: #e31b23;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .toolbar input[type="range"] {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .grid-view li {
        text-align: center;
        padding: 0.5rem;
    }
    .grid-view figcaption {
        padding: 0.5rem 0 0;
    }
}